body {
    background-color: #3D3C3C;
    margin: 0;
}

.featDesc {
    text-align: center;
}

.featureItem {
    display: inline-block;
    color: white;
    font-size: 3vh;
    background-color: #16994F;
    text-align: center;
    margin: 0% 3%;
    font-family: "Open Sans";
    height: 100%;
    width: 12%;
    padding: 8vh 2.3vh;
    border-radius: 100%;
}

.featureList {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.featTitle {
    text-align: center;
    font-family: 'Oswald';
    color: white;
    font-size: 6vh;
}

.greeting {
    margin-top: 15%;
}

.headerBar {
    text-align: center;
    color: white;
    background-color: #16994F;
    margin-top: 0;
    font-size: 8vh;
    font-family: 'Oswald';
    letter-spacing: .2vh;
    padding: 2% 0%;
    position: fixed;
    top: 0;
    width: 100%;
}

.hello {
    text-align: center;
    color: white;
    font-family: 'Oswald';
    font-size: 6vh;
    letter-spacing: .2vh;
    margin-bottom: 0;
}

.intro {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 3vh;
    width: 60%;
    margin: auto;
    margin-top: 4%;
}

.statement {
    font-family: "Open Sans";
    font-size: 3vh;
    color: white;
    text-align: center;
}