<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data For Dummies</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="static/scripts/underscore.js"></script>
    <link rel="icon"
    type="image/png"
    href="static/Images/dataFav.png">
</head>

<body>
    <div class="headerBar">
        <img class="pythonPic" src="static/Images/python.png">
        <h5 class="headerTitle">Data For Dummies</h5>
        <img class="pythonPic" src="static/Images/python.png">
    </div>
    <div class="main">
        <section>
            <div class="greeting">
                <h5 class="hello">Hey There, Looks like you submitted a file to large!</h5>
                <h6 class="hello">Try a file that is 50MBs or less!</h6>
            </div>
        </section>
    </div>

<body>
