<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data For Dummies</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="static/scripts/underscore.js"></script>
    <link rel="icon" 
    type="image/png" 
    href="static/Images/dataFav.png">
</head>

<body>
    <div class="headerBar">
        <img class="pythonPic" src="static/Images/python.png">
        <h5 class="headerTitle">Data For Dummies</h5>
        <img class="pythonPic" src="static/Images/python.png">
    </div>
    <div class="main">
        <section>
            <div class="greeting">
                <h5 class="hello">Hey There!</h5>
                <p class="intro"> We get that Data Science is hard. Like <em>really</em> hard.<br>We're here to help you
                    preprocess, visualize, and analyze data. <br> All without a single line of code.</p>
                <p class="statement">Just upload your data, and we'll take care of the rest for you.<br>Scroll down to
                    get
                    started!</p>
                <p class="statement" style="margin-top:3%;">Sincerely,<br>
                    <h5 class="statement" style="margin-top:0%;">The Data Dummies Team</h5>
                    <div id="arrow1" class="downArrow bounce">
                        <img class="arrowPic" alt=""
                            src="static/Images/arrow.png" />
                    </div>
            </div>
    </div>
    </section>
    <section>
        <div class="features">
            <h5 class="featTitle">Features</h5>
            <div class="featureList">
                <h4 id="Receive key information about your data & various high-level insights." class="featureItem">Data<br>Insights</h4>
                <h4 id="Preprocess your data easily & prepare it for ML or further analytics." class="featureItem">Data Preprocessing</h4>
                <h4 id="Visualize your data easily using Matplotlib & Seaborn" class="featureItem">Data Visualizations</h4>
                <h4 id="Run basic predictive analytics on your data (experimental!)" class="featureItem">Predictive Analytics</h4>
            </div>
            <h5 class="featDesc">Click on any of the features about for more information!</h5>
        <div class="downArrow bounce">
                <img id="arrow2" class="arrowPic" alt=""
                    src="static/Images/arrow.png" />
            </div>
        </div>
    </section>
    <section>
        <div class="upload">
            <h5 id="upTitle" class="featTitle">So... what are you waiting for?</h5>
            <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" class="fileUpload" />
                <div class="labelHolder">
                    <label class="fileLabel" for="file">Choose a file</label>
                    <img class="uploadImage" src="static/Images/upload.png">
                </div>
                <div class="submitHolder">
                    <input class="submit" type="submit" />
                    <img class="submitImage" src="static/Images/submit.png">
                </div>
            </form>
        </div>
    </section>
    </div>
    <script
    src="https://code.jquery.com/color/jquery.color-2.1.2.js"
    integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
    crossorigin="anonymous"></script>
    <script src="static/scripts/home.js" async defer></script>
</body>

</html>